{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="./">Rent a chair <i class="fa-solid fa-chair"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="./">Main page <i class="fa-solid fa-house"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'product' %}">Our products <i class="fa-solid fa-couch"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'storage' %}">Storages <i class="fa-solid fa-warehouse"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'worker' %}">Crew <i class="fa-solid fa-people-group"></i></a>
                                    </li>
                                </ul>
                    </div>
                </div>
            </nav>
    </header>
    {% block content %}
    {% endblock %}

    <script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/027c1abfa5.js" crossorigin="anonymous"></script>
</body>
</html>