{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/027c1abfa5.js" crossorigin="anonymous"></script>
</body>
</html>